[submodule "clojure_kindergarten"]
	path = clojure_kindergarten
	url = git@github.com:gthvn1/clojure_kindergarten.git
[submodule "common_lisp_kindergarten"]
	path = common_lisp_kindergarten
	url = git@github.com:gthvn1/common_lisp_kindergarten.git
[submodule "hy_kindergarten"]
	path = hy_kindergarten
	url = git@github.com:gthvn1/hy_kindergarten.git
[submodule "scheme_kindergarten"]
	path = scheme_kindergarten
	url = git@github.com:gthvn1/scheme_kindergarten.git
